#google_translate_element {
    margin-top: 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
}
.bg-main-1.mobile {
    display: none;
}
.remember {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
.remember > * {
    margin-bottom: 0;
}
#rememberme {
    height: 20px;
    margin-left: 20px;
    width: 20px;
}
@media only screen and (max-width: 600px) {
    .bg-main-1 {
        display: none;
    }
    .bg-main-1.mobile {
        display: block;
    }
}

#enter-username-section {
    background: url(../images/background/bg-enter-username.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#enter-username-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency here */
}

#enterUsernameForm {
    background: url(../images/background/bg-enter-username-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#registerSucessForm {
    background: url(../images/background/bg-register-success.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.login-form-screen {
    background: url(../images/background/bg-login-model2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.register-form-screen {
    background-image: url(../images/background/bg-register.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    height: 543px;
    width: 436px !important;
}

#bg-intro {
    background-image: url(../images/background/bg-2.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset !important;
}
