#coinform, #logoutform, #loginform, #registerform{
    max-width: 560px;
    margin: 0 auto;
}
#registerform .form-control, #loginform .form-control{
    border-radius: 20px;
}

#coinform .form-group_btn, #logoutform .form-group_btn, #loginform .form-group_btn, #registerform .form-group_btn{
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
}

#coinform .btn-model-cc, #logoutform .btn-model-cc, #loginform .btn-model-cc, #registerform .btn-model-cc{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #b8e6fe, #38b3f9 25%, #0470d3 85%, #b8e6fe 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    transition: 1s;
    width: 100%;
    cursor: pointer;
}

#coinform .btn-model-cf,#logoutform .btn-model-cf, #loginform .btn-model-cf, #registerform .btn-model-cf{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #f3a2ff, #e324ff 25%, #8c20e5 85%, #ffb4f9 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    width: 100%;
}

#coinform .error{
    color: #ff0000;
    margin-top: 10px;
}
#logoutform .error{
    color: #ff0000;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-model-cc{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .header-col-R .header-group-btn .btn-tele:before {
    background-image: url(../images/telegram-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 45px;
    width: 50px;
}

.inner-room .winRate p, .inner-room .winRate h1{
    z-index: 10;
}

.bg-login{
    background-image: url(../images/bg-login-model.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    height: 475px;
    max-width: 810px !important;
}

.form-check{
    padding-left: unset !important;
    color: #fff;
}

.form-check-input {
    margin-top: .4rem !important;
    margin-left: .25rem !important;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slectslot_inner{
    background-image: url(../images/111.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    border-radius: unset !important;
    border: 1px solid #00FF84 !important;
}

.slot_item{
    background-image: url(../images/slot_item_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 120px;
    position: relative;
    cursor: pointer;
}
.slot_image{
    width: 60px;
}
.slot_title{
    width: 125px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #fff;
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    font-weight: 700;
}
.slot_percent_1 {
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 40px;
    font-size: 14px;

    padding: 30px; /* Optional: Adjust padding as needed */
    text-align: center; /* Center the text inside the div */
}

.slot_percent_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/percent_background.png); /* Set the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Ensure the background image stays behind the text */
    animation: spin 2s linear infinite; /* Adds the spinning animation */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progress-bar-container {
    width: 70%;
    height: 15px; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0); /* Background color of the progress bar container */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensures the progress bar stays within the container */
    bottom: 7px;
    left: 7px;
    position: absolute;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: rgba(0, 255, 132, 1); /* Color of the progress bar */
    animation: progress-animation 2s linear infinite; /* Animation for infinite loop */
    border-radius: 15px; /* Rounded corners */
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}


.slot_percent_2{
    background: linear-gradient(#BDE94B, #2DDA4F);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 25px;
    bottom: 4px;
}
.slot_detail_wrapper{
    max-height: 50vh !important;
}
.detail-game{
    cursor: pointer;
}
.btn-help{
    cursor: pointer;
}
.detail_game_inner1{
    background-image: url(../images/sdsdsdsd1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    border-radius: unset !important;
    border: 1px solid #00FF84 !important;
    padding: 40px !important;
    background-color: unset !important;
    max-width: 1000px;
}
.ava1{
    padding-left: 10px;
}
.img-parent{
    background-image: url(../images/ss.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    position: relative;
    padding-top: 12px;
    padding-left: 12px;
}
.img-child{
    background-image: url(../images/Vector-Smart-Object.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 60px;
    position: relative;
    padding: 7px;
    margin-left: 10px;
}
.ava2{
    padding: 0 10px 10px 10px;
}
.ava2 .title{
    margin-left: 10px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.count-down{
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 50px;
}
.count-down-title{
    background: linear-gradient(#BDE94B, #2DDA4F);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    position: absolute;
    font-size: 28px;
    bottom: 25px;
    left: 20px;
}
.count-down-time{
    left: 260px;
    bottom: -15px;
    font-size: 64px;
}
.count-down-image {
    right: 40px;
    position: absolute;
    bottom: 10px;
    width: 80px;
    animation: spin 2s linear infinite; /* Áp dụng animation xoay */
}
.q-register{
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}
.q-register span{
    color: #00FF75;
    cursor: pointer;
}
.percentage{
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 40px;
    color: #22D94F;
    font-weight: bold;
}
.detail_game_inner2{
    display: none;
}
.code-wrapper{
    overflow: auto;
    background: #fff;
    border-radius: 20px;
    padding: 5px 0;
}
.code-wrapper label{
    float: left;
    color: #969696;
    font-weight: 400;
}

.code-wrapper div{
    float: left;
}
.logo-mobile{
    display: none;
}
.header-group-btn button{
    background: unset;
    border: unset;
    color: #fff;
    padding: 0;
}
#captcha{
    background: #256341;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    height: 38px;
    color: #fff;
    font-size: 18px;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.container {
    position: relative;
    display: inline-block; /* Để kích thước của container phù hợp với kích thước của ảnh */
}

.container img {
    display: block; /* Đảm bảo ảnh không bị ảnh hưởng bởi các phần tử inline khác */
}

.progress-bar-a {
    width: 50%;
    height: 6px; /* Chiều cao của thanh progress */
    position: absolute;
    left: 0;
    overflow: hidden;
    background-color: transparent; /* Nền trong suốt cho cha */
    border-radius: 15px;
}

.progress-bar-a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeInOut 4s linear infinite; /* Áp dụng animation */
}

.red::before {
    background: repeating-linear-gradient(
        -45deg,
        cadetblue,
        cadetblue 10px,
        #fff 10px,
        #fff 20px
    );
    animation-delay: 0s;
}

.green::before {
    background: repeating-linear-gradient(
        -45deg,
        violet,
        violet 10px,
        #fff 10px,
        #fff 20px
    );
    animation-delay: 1s;
}

.blue::before {
    background: repeating-linear-gradient(
        -45deg,
        darkgreen,
        darkgreen 10px,
        #fff 10px,
        #fff 20px
    );
    animation-delay: 2s;
}

.yellow::before {
    background: repeating-linear-gradient(
        -45deg,
        orangered,
        orangered 10px,
        #fff 10px,
        #fff 20px
    );
    animation-delay: 0s;
}

.progress-bar-a.red {
    bottom: 35px;
    left: 110px;
    right: 200px;
}

.progress-bar-a.green {
    bottom: 51px;
    left: 110px;
    right: 200px;
}

.progress-bar-a.blue {
    bottom: 67px;
    left: 110px;
    right: 200px;
}

.progress-bar-a.yellow {
    bottom: 83px;
    left: 110px;
    right: 200px;
}
.round{
    position: absolute;
    top: 33px;
    left: 25px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(#3aed1a, #14461e);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.text-line {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);

    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

#text-line1 {
    top: 24px;
    font-size: 24px;
    background: linear-gradient(#3aed1a, #14461e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text-line2 {
    top: 54px; /* Điều chỉnh để hiển thị bên dưới dòng đầu tiên */
    font-size: 14px;
 /*//   background-image: linear-gradient(#3aed1a, #14461e);*/
}

#round-modal h1{
    font-size: 36px;
}
#round-modal .round_count{
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.add_round_class{
    width: 262px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .game-item-top {
      display: block !important;
    }
    body{
        background-image: url(../images/bg_MB1.png);
        background-size: cover;
    }
    .bg-login{
        background-image: url(../images/DN_1.png) !important;
        background-size: contain;
    }
    #coinform .btn-model-cc, #loginform .btn-model-cc, #registerform .btn-model-cc,
    #coinform .btn-model-cf, #loginform .btn-model-cf, #registerform .btn-model-cf {
        font-size: 20px;
    }
    .slot_wrapper{
        display: grid !important;
        grid-template-columns: 1fr 1fr  !important;
        max-height: 70vh !important;
        overflow: scroll !important;
    }
    .slectgame-slide .slectgame_inner{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .slectslot_inner{
        background-image: url(../images/KA_2.png);
        height: 80vh;
    }
    .title-Page .btn-back {
        left: 5px !important;
        top: 5px !important;
    }
    .btn-back img{
        width: 100px;
    }
    .slectgame-slide {
        padding: 60px 20px 0px !important;
    }
    .slectgame-slide .title-Page {
        margin: 50px auto 0px !important;
    }
    .slot_detail_wrapper{
        display: block !important;
        max-height: 60vh !important;
    }
    .slot_item{
        margin-bottom: 20px;
    }
    .header-col-L{
        display: flex;
        justify-content: center;
    }
    .header-col-R{
        position: absolute;
        top: 15px;
    }
    .header_wrapper{
        position: relative;
        display: block !important;
    }
    .detail_game_inner1{
        display: none;
    }
    .detail_game_inner2{
        background-image: url(../images/KA_2.png);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: unset !important;
        border: 1px solid #00FF84 !important;
        margin: 0 auto;
        display: block;
    }
    .avatar-game{
        background-image: url(../images/Vector-Smart-Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 110px;
        padding: 15px 15px 20px;
    }
    .percent-game {
        width: 114px;
        height: 114px; /* Đặt chiều cao cho phần tử */
        position: relative; /* Đặt position relative cho cha */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Đảm bảo phần tử con không vượt ra ngoài */
    }

    .background {
        background-image: url(../images/percent_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute; /* Đặt position absolute cho phần tử con */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg); /* Đặt nền ở trung tâm và bắt đầu xoay từ 0 độ */
        animation: spin 2s linear infinite; /* Thêm animation xoay tròn */
    }

    /* Định nghĩa keyframes cho animation xoay tròn */
    @keyframes spin {
        from {
            transform: translate(-50%, -50%) rotate(0deg); /* Bắt đầu từ 0 độ */
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg); /* Xoay đến 360 độ */
        }
    }

    .percentage {
        position: relative; /* Đặt position relative để giữ vị trí của text */
        z-index: 1; /* Đảm bảo text nằm trên nền */
        font-size: 16px; /* Điều chỉnh kích thước chữ nếu cần */
        color: #fff; /* Điều chỉnh màu chữ nếu cần */
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
    }
    /*.percentage {*/
    /*    position: relative; !* Đặt position relative để giữ vị trí của text *!*/
    /*    z-index: 1; !* Đảm bảo text nằm trên nền *!*/
    /*}*/
    /*.percent-game div{*/
    /*    !*position: absolute;*!*/
    /*    top: 50px;*/
    /*    !*left: 36px;*!*/
    /*    color: #fff;*/
    /*    font-weight: 700;*/
    /*}*/
    .count-down-wrapper{
        background-image: url(../images/Vector-Smart-Object_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 120px;
        height: 120px;
    }
    .count-down-time{
        left: 30px;
        bottom: 40px;
        font-size: 24px;
        position: absolute;
        color: #fff;
        font-weight: 700;
    }
    .percentage{
        font-size: 16px;
        right: unset;
    }
    .header-group-btn{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        /* background: rgba(34, 217, 79, 0.26); */
        z-index: 1000;
        display: none;
    }
    .header-group-btn{
        padding: 0 !important;
        background-color: rgba(6, 50, 31, 0.95) !important;
    }
    .header-group-btn div{
        padding: 25px;
    }
    header .header-col-R .header-group-btn .heeader-btn_item{
        border-right: unset !important;
    }
    .logo-mobile{
        display: block;
        border-bottom: 2px solid rgba(34, 217, 79, 1);
        padding: 25px;
    }
    #register-model .bg-login{
        background-image: url(../images/DN_2.jpg) !important;
        height: 580px !important;
    }
    .round{
        position: unset;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .text-line-mobile {
        position: unset;
        display: flex;
        justify-content: center;

        color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
    }

    #text-line1-mobile {
        top: 24px;
        font-size: 24px;
        margin-top: 20px;
        background: linear-gradient(#3aed1a, #14461e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #text-line2-mobile {
        top: 24px; /* Điều chỉnh để hiển thị bên dưới dòng đầu tiên */
        font-size: 14px;
        /*//   background-image: linear-gradient(#3aed1a, #14461e);*/
    }

    .add_round_class{
        flex-direction: column;
        width: unset;
    }
}
